<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </script>
  <link rel="stylesheet" type="text/css" href="/assets/cssF.css">
</head>
<body>
  <nav class="navbar  navbar-expand-lg navbar-light bg-light">
          <div class="d-flex flex-grow-1">
              <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
              <a class="navbar-brand d-none d-lg-inline-block" href="#">
                  Engineer.io
              </a>
              <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
                  <img src="//placehold.it/40?text=LOGO" alt="logo">
              </a>
              <div class="w-100 text-right">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                      <span class="navbar-toggler-icon"></span>
                  </button>
              </div>
          </div>
          <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
              <ul class="navbar-nav ml-auto flex-nowrap">
                  <li class="nav-item">
                      <a  href="#" class="nav-link m-2 menu-item nav-active">How it Works</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link m-2 menu-item">Our Customers</a>
                  </li>
                  <li class="nav-item">
                          <a href="#" class="nav-link m-2 menu-item">Partners</a>
                      </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link m-2 menu-item">Non Profit</a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link m-2 menu-item">Cloudops</a>
                  </li>
                  <li class="nav-item">
                      <button class="btn navbar-btn">Account Login</button>
                  </li>
              </ul>
          </div>
      </nav>
      <div class="container-fluid">
      <div class="row padd6 ">
        <div class="col-md-6 text-center">
      <h2>We are passionate about supporting
organizations that are making the world
a better place.</h2>
      </div>
      <div class="col-md-6 text-center">
        <h1>Know More about Our helps <br>Provided to other People.</h1>
        <button class="btn btn-primary btn-lg">Find Out</button>
      </div>
      </div>
      <div class="row padd4">
        <div class="col-md-12 text-center">
          <h2 style="color:grey">Supporting a greater Cause</h2>
        <p style="color: white">At Engineer.ai, we have a responsibility to the world around us; the one we benefit from everyday. There are <br>
          many organizations who are trying to make the world better, selflessly one day at a time, but do not have the <br>
          technology to be able to execute their mission. For these such organization, we created LIFE, a program that <br>
          empowers our platforms Builder and CloudOps to build tech projects for organizations that need it most.

</p>
      </div>
    </div>
    <div class="row padd5">
      <div class="col-md-12 text-center">
        <p style="font-size: 30px; color:white;">Each year, we pledge over 50,000 hours of engineering
time to help organizations like yours reach their goals.</p><br>
<button class="btn btn-lg btn-primary">Contact us</button>
    </div>
  </div>
  <div class="row paddH">
    <div class="col-md-2 col-md-offset-5" >
      <h5>Products</h5>
        Builder<br>
      CloudOps<br>
        Teams<br>
        How it Works?<br>
           Partners<br>
  </div>
  <div class="col-md-2 col-md-offset-5">
    <h5>Company</h5>
      About us<br>
      Jobs<br>
      Customers<br>
      Non Profits<br>
      Investors<br>
      Press<br>
      Contact<br>
       Blog<br>
  </div>
  <div class="col-md-2 col-md-offset-5">
    <h5>Social</h5>
      Facebook<br>
      Twitter<br>
      Linkedin<br>
      Instagram<br>
      <br>
    <h5>Legal</h5>
      Privacy-Policy<br>
        Terms<br>
  </div>
  <div class="col-md-2 col-md-offset-5">
    <h5>Support</h5>
          Sales<br>
         Chat With us<br>
         India<br>
          USA<br>
  </div>
  <div class="col-md-4 col-md-offset-5">
    <h5>Reach us</h5>
    <img src="/assets/VisitUs.png" class="visUSimg"></img>
  </div>
  </div>
      </div>

</body>
</html>
